apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "extensionlib.names.fullname" . }}
  namespace: {{ .Release.Namespace }}
  {{ if .Values.deploymentAnnotations }}
  annotations:
    {{- with .Values.deploymentAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- end }}
  labels:
  {{- range $key, $value := .Values.extraLabels }}
    {{ $key }}: {{ $value }}
  {{- end }}
  {{- include "extensionlib.labels" (list .) | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "extensionlib.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "extensionlib.selectorLabels" . | nindent 8 }}
        {{- include "extensionlib.labels" (list .) | nindent 8 }}
        {{- range $key, $value := .Values.extraLabels }}
        {{ $key }}: {{ $value }}
        {{- end }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        oneagent.dynatrace.com/injection: "false"
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.priorityClassName }}
      priorityClassName: {{ . }}
      {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - image: {{ .Values.image.name }}:{{ default .Chart.AppVersion .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          name: extension
          resources:
            requests:
              memory: {{ .Values.resources.requests.memory }}
              cpu: {{ .Values.resources.requests.cpu }}
            limits:
              memory: {{ .Values.resources.limits.memory }}
              cpu: {{ .Values.resources.limits.cpu }}
          env:
            {{- include "extensionlib.deployment.env" (list .) | nindent 12 }}
            - name: STEADYBIT_EXTENSION_CLUSTER_NAME
              value: {{ if and .Values.global .Values.global.clusterName }}{{ .Values.global.clusterName | quote }}{{ else }}{{ .Values.kubernetes.clusterName }}{{ end }}
            {{- if .Values.kubernetes.namespaceFilter }}
            - name: STEADYBIT_EXTENSION_NAMESPACE
              value: {{ .Release.Namespace | quote }}
            {{- end }}
            {{- if .Values.discovery.attributes.excludes.container }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_ATTRIBUTES_EXCLUDES_CONTAINER
              value: {{ (join "," .Values.discovery.attributes.excludes.container) | quote }}
            {{- end }}
            {{- if .Values.discovery.attributes.excludes.daemonSet }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_ATTRIBUTES_EXCLUDES_DAEMON_SET
              value: {{ (join "," .Values.discovery.attributes.excludes.daemonSet) | quote }}
            {{- end }}
            {{- if .Values.discovery.attributes.excludes.deployment }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_ATTRIBUTES_EXCLUDES_DEPLOYMENT
              value: {{ (join "," .Values.discovery.attributes.excludes.deployment) | quote }}
            {{- end }}
            {{- if .Values.discovery.attributes.excludes.ingress }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_ATTRIBUTES_EXCLUDES_INGRESS
              value: {{ (join "," .Values.discovery.attributes.excludes.ingress) | quote }}
            {{- end }}
            {{- if .Values.discovery.attributes.excludes.node }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_ATTRIBUTES_EXCLUDES_NODE
              value: {{ (join "," .Values.discovery.attributes.excludes.node) | quote }}
            {{- end }}
            {{- if .Values.discovery.attributes.excludes.pod }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_ATTRIBUTES_EXCLUDES_POD
              value: {{ (join "," .Values.discovery.attributes.excludes.pod) | quote }}
            {{- end }}
            {{- if .Values.discovery.attributes.excludes.replicaSet }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_ATTRIBUTES_EXCLUDES_REPLICA_SET
              value: {{ (join "," .Values.discovery.attributes.excludes.replicaSet) | quote }}
            {{- end }}
            {{- if .Values.discovery.attributes.excludes.statefulSet }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_ATTRIBUTES_EXCLUDES_STATEFUL_SET
              value: {{ (join "," .Values.discovery.attributes.excludes.statefulSet) | quote }}
            {{- end }}
            {{- if .Values.discovery.attributes.excludes.argoRollout }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_ATTRIBUTES_EXCLUDES_ARGO_ROLLOUT
              value: {{ (join "," .Values.discovery.attributes.excludes.argoRollout) | quote }}
            {{- end }}
            - name: STEADYBIT_EXTENSION_DISABLE_DISCOVERY_EXCLUDES
              value: {{ .Values.discovery.disableExcludes | quote }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_DISABLED_CLUSTER
              value: {{ .Values.discovery.disabled.cluster | quote }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_DISABLED_CONTAINER
              value: {{ .Values.discovery.disabled.container | quote }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_DISABLED_DAEMON_SET
              value: {{ .Values.discovery.disabled.daemonSet | quote }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_DISABLED_DEPLOYMENT
              value: {{ .Values.discovery.disabled.deployment | quote }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_DISABLED_INGRESS
              value: {{ .Values.discovery.disabled.ingress | quote }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_DISABLED_NODE
              value: {{ .Values.discovery.disabled.node | quote }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_DISABLED_POD
              value: {{ .Values.discovery.disabled.pod | quote }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_DISABLED_ARGO_ROLLOUT
              value: {{ .Values.discovery.disabled.argoRollout | quote }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_DISABLED_REPLICA_SET
              value: {{ .Values.discovery.disabled.replicaSet | quote }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_DISABLED_STATEFUL_SET
              value: {{ .Values.discovery.disabled.statefulSet | quote}}
            - name: STEADYBIT_EXTENSION_DISCOVERY_MAX_POD_COUNT
              value: {{ .Values.discovery.maxPodCount | quote }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_REFRESH_THROTTLE
              value: {{ .Values.discovery.refreshThrottle | quote }}
            {{- if or (not .Values.advice.enabled) .Values.discovery.disableAdvice}}
            - name: STEADYBIT_EXTENSION_DISABLE_ADVICE
              value: "true"
            {{- else }}
            - name: STEADYBIT_EXTENSION_ACTIVE_ADVICE_LIST
              value: {{ (join "," .Values.advice.enabled) | quote }}
            - name: STEADYBIT_EXTENSION_ADVICE_EXCLUDE_QUERY
              value: {{ .Values.advice.excludeTargetQuery | quote }}
            {{- end }}
            {{- with .Values.extraEnv }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- with .Values.extraEnvFrom }}
          envFrom:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            {{- include "extensionlib.deployment.volumeMounts" (list .) | nindent 12 }}
          livenessProbe:
            initialDelaySeconds: {{ .Values.probes.liveness.initialDelaySeconds }}
            periodSeconds: {{ .Values.probes.liveness.periodSeconds }}
            timeoutSeconds: {{ .Values.probes.liveness.timeoutSeconds }}
            successThreshold: {{ .Values.probes.liveness.successThreshold }}
            failureThreshold: {{ .Values.probes.liveness.failureThreshold }}
            httpGet:
              path: /health/liveness
              port: 8089
          readinessProbe:
            initialDelaySeconds: {{ .Values.probes.readiness.initialDelaySeconds }}
            periodSeconds: {{ .Values.probes.readiness.periodSeconds }}
            timeoutSeconds: {{ .Values.probes.readiness.timeoutSeconds }}
            successThreshold: {{ .Values.probes.readiness.successThreshold }}
            failureThreshold: {{ .Values.probes.readiness.failureThreshold }}
            httpGet:
              path: /health/readiness
              port: 8089
          {{- with .Values.containerSecurityContext }}
          securityContext:
          {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
        {{- include "extensionlib.deployment.volumes" (list .) | nindent 8 }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
      automountServiceAccountToken: true
      {{- with .Values.nodeSelector }}
      nodeSelector:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
      {{- toYaml . | nindent 8 }}
      {{- end }}
